.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}
.text-no-wrap {
    text-wrap-mode: nowrap;
}
.justify-start {
    justify-content: flex-start;
}
.align-center {
    align-items: center;
}

.justify-space-around {
    justify-content: space-around;
}

.bottom-border-subtle {
    border-bottom: 1px solid var(--border-subtle);
}
.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.overflow-y {
    overflow-y: auto;
    overflow-x: hidden;
}
.gap-8 {
    gap: 8px;
}

.width-100 {
    width: 100%;
}

.header-font {
    font-weight: 600;
    text-decoration: none;
}
.achieved {
    color: var(--achieved);
}
.pending {
    color: var(--pending);
}
.bg-very-dark {
    background-color: var(--bg-very-dark);
}
.bg-dark {
    background-color: var(--bg-dark);
}
.bg-medium {
    background-color: var(--bg-medium);
}
.bg-bright {
    background-color: var(--bg-bright);
}
.bg-very-bright {
    background-color: var(--bg-very-bright);
}
