/* These are not in sidebar.vue because these are used by the components to be put in, maybe there's a way to automatically apply these style? idk */

.side-bar-link {
  /* display: block; */
  padding: 8px 0px 8px 8px;
  border-radius: 6px;
  color: var(--text-bright);
  text-decoration: none;
  white-space: nowrap;
  /* text-overflow:; */
  overflow: visible;
  cursor: pointer;
}

.side-bar-link:hover {
  background-color: var(--bg-main);
}

.side-bar-link.router-link-active {
  color: var(--gold);
  background-color: var(--bg-main);
}
.side-bar-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
