.side-bar-link {
  /* display: block; */
  padding: 8px 4px;
  border-radius: 6px;
  color: var(--text-bright);
  text-decoration: none;
  white-space: nowrap;
  /* text-overflow:; */
  overflow: visible;
  cursor: pointer;
}

.side-bar-link:hover {
  background-color: var(--bg-medium);
}

/* RouterLink active state */
.side-bar-link.router-link-active {
  color: var(--gold);
  background-color: var(--bg-medium);
}
.side-bar-item {
  /* display: block; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
