# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
profile.json.gz
test_payload_bloated

dist-ssr
*.local

CONOUT$
# Editor directories and files, pushing .vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
target/
junkyard/

# Added by cargo

/target
