.number-border {
  border-color: transparent !important;
  border-bottom-color: var(--border-muted) !important;
}

.reset-button {
  width: fit-content;
  height: fit-content;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: var(--text-muted);
  text-decoration: underline;
}
